<app-navbar></app-navbar>
<div class="top-notch">
    <app-top-notch></app-top-notch>
</div>
<div class="on-board-container">
    <div class="content-container">
        <!-- <img [src]="'assets/images/on-board/head.jpg'"> -->
        <div class="wrap-content">
            <div class="content-title">
                <p class="qi-text">Quick Information</p>
                <h1 class="hello-text">Hello, im Al Rifqi</h1>
                <h2 class="name-text">Putra Oktdianto</h2>
                <hr>
                <p class="detail-text">I always look for other perspectives in learning a new things, 
                    I would like to be a person who is thirsty for knowledge, challenges, and opportunities. 
                    I'm a hard worker, the pressure will only make me grow to be better.
                </p>
            </div>
            <div class="content-sub">
                <h1>Welcome to my personal<span class="website-text"> website!</span></h1>
                <p>This website is built using <span class="bold-text">Angular framework</span>, 
                    the latest generation, <span class="bold-text">version 16.1</span>, and powered by 
                    <span class="bold-text">Node.js 18.16.1</span></p>
                <p class="p-extend">Feel free to explore the content and features of the website. 
                    If you have any questions or need assistance, please don't hesitate to contact me. </p>
                <p class="p-extend">
                    and also <span class="bold-text">Thank you for visiting!</span>
                </p>
                <button mat-raised-button class="button-contact"
                (click)="onContact()"
                >Enjoy the web!</button>   
                <img [src]="'assets/images/on-board/angular.PNG'">
            </div>
        </div>
    </div>
</div>